@use '@common/styles/_variables' as *;

.leaderboard, .game-results {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  height: 25rem;
  width: 22rem;

  background-color: var(--leaderboard-bg);

  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: bold;
  font-family: 'Poppins', sans-serif;

  border-radius: 1rem;

  &__title {
    font-size: 2.5rem;
    color: var(--leaderboard-title);
    margin: 0.5rem 0 0.5rem 0;
  }

  &__players__container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
