@use '@common/styles/_variables' as *;

.scoreboard, .leaderboard, .game-results {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  height: 25rem;
  width: 22rem;

  background-color: var(--leaderboard-bg);

  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: bold;
  font-family: 'Poppins', sans-serif;

  border-radius: 1rem;

  &__title {
    font-size: 2.5rem;
    color: var(--leaderboard-title);
    margin: 0.5rem 0 0.5rem 0;
  }

  &__players__container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__player {
    width: 90%;
    height: 2rem;

    background-color: var(--leaderboard-player-bg);
    color: rgba(0, 0, 0, var(--leaderboard-player-opacity));

    position: relative;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.4rem;

    transform: rotateX(90deg);
    transition: transform 0.5s ease, opacity 0.5s ease;

    &--visible {
      opacity: 1;
      transform: rotateX(0deg);
    }

    &:nth-child(1) {
      background-color: var(--leaderboard-first-place);
    }

    &:nth-child(2) {
      background-color: var(--leaderboard-second-place);
    }

    &:nth-child(3) {
      background-color: var(--leaderboard-third-place);
    }

    &__nickname {
      margin-left: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 65%;
    }

    &__score {
      margin-right: 1rem;
    }
  }
}
