@use '@common/styles/_variables' as *;

.scoreboard, .leaderboard, .game-results {
  height: 400px;
  width: 350px;

  background-color: var(--leaderboard-bg);

  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: bold;
  font-family: 'Poppins', sans-serif;

  border-radius: 1rem;

  &__title {
    font-size: 34px;
    color: var(--leaderboard-title);
    margin: 10px 0 10px 0;
  }

  &__players__container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__player {
    width: 90%;
    height: 30px;

    background-color: var(--leaderboard-player-bg);
    color: rgba(0, 0, 0, var(--leaderboard-player-opacity));

    position: relative;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 7px;
    font-size: 18px;
    border-radius: 5px;

    transform: rotateX(90deg);
    transition: transform 0.5s ease, opacity 0.5s ease;

    &--visible {
      opacity: 1;
      transform: rotateX(0deg);
    }

    &:nth-child(1) {
      background-color: var(--leaderboard-first-place);
    }

    &:nth-child(2) {
      background-color: var(--leaderboard-second-place);
    }

    &:nth-child(3) {
      background-color: var(--leaderboard-third-place);
    }

    &__nickname {
      margin-left: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 65%;
    }

    &__score {
      position: absolute;
      top: 0;
      right: 1rem;
    }
  }
}
