@use '@common/styles/variables' as *;

.click-the-bomb {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 100%;
  max-height: 25rem;
  min-height: 23rem;

  width: 100%;
  max-width: 25rem;
  min-width: 20rem;

  background-color: var(--click-the-bomb-bg);
  border-radius: 0.25rem;

  box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.2);

  user-select: none;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: var(--click-the-bomb-title);
    font-family: 'Spicy Rice', serif;
    font-size: 2rem;
  }

  &__turn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--click-the-bomb-turn);
    text-align: center;
  }

  &__bomb {
    position: relative;
    cursor: pointer;
    transition: 0.05s ease-in-out;

    svg {
      height: 10rem;
    }

    &--lock {
      cursor: not-allowed;
    }

    &--active:active {
      transform: scale(0.95);
    }
  }

  &__counter {
    position: absolute;

    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Wallpoet', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;

    color: #fff;

    user-select: none;
  }

  &__timer {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -30%);

    font-family: 'Wallpoet', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    color: #ff0505;
  }

  &__button {
    bottom: 10%;
    width: 75%;
    max-width: 14rem;
  }

  &__prize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: calc(100% + 1rem);

    height: 6rem;
    width: 6rem;

    background-color: var(--background);
    box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
    border-radius: 0.25rem;

    &__text {
      width: 100%;
      text-align: center;
      color: var(--click-the-bomb-prize-text);

      font-weight: 600;
      font-size: 1rem;
    }

    &__value {
      width: 100%;
      text-align: center;
      color: var(--click-the-bomb-prize-value);

      font-weight: 700;
      font-size: 2rem;

      &--disappear {
        color: #ff0505;
        animation: disappear 0.5s ease-out forwards;
      }

      &--appear {
        animation: appear 0.5s ease-out forwards;
      }

      &--bump {
        animation: bump 0.3s ease-out;
      }
    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes disappear {
    0% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
    100% {
      opacity: 0;
      transform: translateY(15px) scale(0.8);
    }
  }

  @keyframes bump {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  &__explode {
    position: absolute;
    width: 37.5rem;
    height: 37.5rem;
  }
}
