@use '@common/styles/_variables.scss' as *;

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;

  cursor: pointer;

  &__input {
    opacity: 0;
  }

  &__thumb {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;

    transition: 0.3s ease;

    border-radius: 50%;
  }

  &__track {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--switch-track);
    border-radius: 16px;

    transition: 0.3s ease;
  }

  &__input:checked ~ &__thumb {
    transform: translateX(24px);
    background-color: var(--switch-thumb);
  }

  &__input:checked ~ &__track {
    background-color: var(--switch-track-checked);
  }
}
