.tutorial__overlay {
  min-height: 35rem;

  position: absolute;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.tutorial {
  height: 100%;
  min-height: 30rem;
  max-height: 35rem;

  width: 100%;
  min-width: 30rem;
  max-width: 35rem;


  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--tutorial-bg);
  color: var(--tutorial-text);

  border-radius: 1rem;

  &__ready {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &--dot {
      width: 2.5rem;
      height: 2.5rem;

      background-color: #DBBEF2;
      margin: 0.4rem;

      border-radius: 50%;

      &.active {
        background-color: #9d4edd;
      }
    }

    &--button {
      height: auto;
      width: auto;

      padding: 1rem;

      background-color: var(--tutorial-bg);

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 0.5rem;

      margin-top: 15px;
    }
  }

  .arrow {
    cursor: pointer;
    color: #9d4edd;

    &.right {
      transform: rotate(90deg);
    }

    &.left {
      transform: rotate(-90deg);
    }

    &--disabled {
      opacity: 0.4;
      cursor: default;
    }

    &.for-cards {
      color: var(--tutorial-text);
      opacity: 0.4;
    }
  }
}

.tutorial__content {
  flex: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 1rem;

  pointer-events: none;
}

.tutorial__text {
  font-family: 'Spicy Rice', serif;
  width: 80%;
  text-align: center;
  margin: 0.4rem;

  &--normal {
    font-size: 1.5rem;
  }

  &--small {
    font-size: 1.2rem;
  }

  &--large {
    font-size: 3rem;
  }

  &--title {
    font-size: 3rem;
    margin: 2rem;
  }

  &--highlight {
    color: var(--tutorial-text-highlight);
  }

  &--warning {
    color: var(--tutorial-text-warning);
  }

  &--reward {
    color: var(--tutorial-text-reward);
  }
}

.tutorial__image {
  width: auto;
  margin: 1rem;

  &--large {
    height: 50%;
  }

  &--medium {
    height: 30%;
  }

  &--small {
    height: 20%;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.tutorial__pagination {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: auto;
  margin-bottom: 30px;

  &__indicator {
    font-family: 'Spicy Rice', serif;
    font-size: 1.5rem;
    color: var(--tutorial-indicator);
    margin: 0 40px 0 40px;
  }
}
