@use '../../../common/styles/themes' as *;

.player-avatar {
  width: 15vw;
  aspect-ratio: 10/9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: var(--player-avatar-bg);
  box-shadow: var(--cartoon-shadow);

  h2 {
    padding: 0;
    margin: 0;
  }

  &__username {
    font-size: 1.3vw;
    color: var(--player-avatar-username);
  }

  &__image {
    width: 13vw;
    aspect-ratio: 10/6;
    background-color: #1e1e1e;
  }

  &__score {
    color: var(--player-avatar-score);
    font-size: 1.4vw;
  }
}
