@use '../../../common/styles/variables' as *;

.player-avatar {
  width: 15vw;
  aspect-ratio: 10/9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px #c3c1b7;

  h2 {
    padding: 0px;
    margin: 0px;
  }

  &__username {
    font-size: 1.3vw;
    color: $darkerPrimaryColor;
  }

  &__image {
    width: 13vw;
    aspect-ratio: 10/6;
    background-color: #1e1e1e;
  }

  &__score {
    color: $secondaryColor;
    font-size: 1.4vw;
  }
}
