@use '../../../common/styles/themes' as *;

.player-avatar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: fit-content;
  width: fit-content;

  padding: 0.25rem 0.5rem;

  border-radius: 0.5rem;
  background-color: var(--player-avatar-bg);
  box-shadow: var(--cartoon-shadow);

  font-family: 'Poppins', sans-serif;
  font-size: 16px;

  transition: 0.3s ease scale;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 0.2rem;
    background-color: var(--player-avatar-score);
  }

  h2 {
    padding: 0;
    margin: 0;
  }

  &__username {
    max-width: 12rch;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--player-avatar-username);
    font-size: 1rem;
  }

  &__score {
    color: var(--player-avatar-score);
    font-size: 1.3rem;
  }

  &__avatar {
    display: flex;
    align-items: flex-end;
    background: url('@assets/textures/character-bg.svg');
    background-size: cover;
    width: 175px;
    height: 125px;

    &__default {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    @media (min-width: 1921px) and (max-width: 2559px) {
      width: clamp(175px, 10vw, 316px);
      height: clamp(125px, 7vw, 190px);
    }

    @media (min-width: 2560px) {
      width: 275px;
      height: 190px;
    }
  }

  &--has-turn {
    scale: 1.1;

    &:before {
      width: 4rem;
    }
  }

  &__status {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--player-avatar-status);

    &--ready {
      background-color: var(--player-avatar-status-ready);
    }
  }
}
