@use "@common/styles/themes" as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  color: var(--text-color);

  &__content {
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 16px;
    background-color: var(--background);
    border-radius: 4px;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);

    &--transparent-bg{
      background-color: transparent;
    }
  }

  &__backdrop {
    position: absolute;
    z-index: 0;

    background-color: rgba(0, 0, 0, 0.2);
    filter: blur(10);
    width: 100%;
    height: 100%;
  }
}
