.tricky-diamonds {

  &__diamond {
    position: relative;
    width: 30%;
    height: 90%;
    background-color: var(--tricky-diamonds-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;

    box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.25);

    &__svg--selected {
      svg {
        animation: float 2s infinite ease-in-out;
      }
    }

    &__value {
      width: 100%;
      height: auto;
      text-align: center;
      margin-top: 1.5rem;
      font-size: 1.8rem;
      color: var(--tricky-diamonds-value);
      font-family: "Poppins", sans-serif;
      font-weight: bold;
    }

    @keyframes float {
      0%, 100% {
        transform: translateY(10px);
      }
      50% {
        transform: translateY(-10px);
      }
    }
  }

  &__players__list {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 1rem;
    z-index: 10;
    animation: fadeIn 0.8s ease-out forwards;

    &--won {
      background-color: var(--tricky-diamonds-win-bg);

      &__background {
        position: relative;
        height: 50%;
        width: 60%;
        background-color: var(--tricky-diamonds-win-trophy-bg);
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;

        border-radius: 0.75rem;

        display: flex;
        justify-content: center;
        align-items: center;

        .score {
          font-family: 'Spicy Rice', serif;
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1.5rem;
        }

        svg {
          height: 90%;
          width: 90%;

          margin: auto;
        }
      }
    }

    &--lost {
      background-color: var(--tricky-diamonds-lost-bg);

      &__background {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__cross {
    opacity: 1;
    color: var(--tricky-diamonds-cross);
  }



}