.tricky-diamonds {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 320px;
  max-height: 320px;

  width: 100%;
  min-width: 500px;
  max-width: 600px;

  &__title {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: 'Spicy Rice', serif;
    background-color: var(--tricky-diamonds-bg);
    color: var(--tricky-diamonds-title);
    border-radius: 15px;
  }

  &__container {
    width: 100%;
    height: 240px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  &__diamond {
    width: 30%;
    height: 90%;
    background-color: var(--tricky-diamonds-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;

    &__value {
      width: 100%;
      height: auto;
      text-align: center;
      margin-top: 25px;
      font-size: 1.8rem;
      color: var(--tricky-diamonds-value);
      font-family: "Poppins", sans-serif;
      font-weight: bold;
    }
  }

  svg {
    width: 80px;
    height: 100px;
    margin-top: 20px;
  }
}