.tricky-diamonds {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 320px;
  max-height: 320px;

  width: 100%;
  min-width: 500px;
  max-width: 600px;

  &__title {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: 'Spicy Rice', serif;
    background-color: var(--tricky-diamonds-bg);
    color: var(--tricky-diamonds-title);
    border-radius: 15px;
  }

  &__timer {
    height: 20px;
    width: 100%;
    margin-top: 10px;
  }

  &__container {
    width: 100%;
    height: 240px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__diamond {
    position: relative;
    width: 30%;
    height: 90%;
    background-color: var(--tricky-diamonds-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;

    &__value {
      width: 100%;
      height: auto;
      text-align: center;
      margin-top: 25px;
      font-size: 1.8rem;
      color: var(--tricky-diamonds-value);
      font-family: "Poppins", sans-serif;
      font-weight: bold;
    }
  }

  svg {
    width: 80px;
    height: 100px;
    margin-top: 20px;
  }

  &__players__list {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--cards-text);
    border-radius: 10px;
    font-size: 1rem;
    z-index: 10;
    animation: fadeIn 0.8s ease-out forwards;

    .player {
      width: 100%;
      max-width: 80%;

      border-radius: 10px;
      margin-top: 3px;

      font-family: 'Spicy Rice', serif;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .lost {
    background-color: rgba(143, 17, 47, 0.9);

    &__background {
      position: absolute;
      width: 100%;
      height: 100%;

      .cross {
        width: 10%;
        height: 70%;
        position: absolute;
        top: 15%;
        left: 45%;

        transform: translate(-50%, -50%);
        background-color: #A54159;

        border-radius: 10px;

        z-index: -1;
      }

      .part__one {
        transform: rotateZ(45deg);
      }

      .part__two {
        transform: rotateZ(-45deg);
      }
    }

    .player {
      color: rgba(255, 255, 255, 0.9);
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .win {
    background-color: rgba(255, 204, 106, 0.9);

    &__background {
      position: relative;
      height: 50%;
      width: 60%;
      background-color: #FFE4AF;
      margin-top: 10px;
      margin-bottom: 10px;

      border-radius: 15px;

      display: flex;
      justify-content: center;
      align-items: center;

      .score {
        font-family: 'Spicy Rice', serif;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
      }

      svg {
        height: 90%;
        width: 90%;

        margin: auto;
      }
    }

    .player {
      color: rgba(0, 0, 0, 0.8);
      background-color: #FFE4AF;
    }
  }
}

