.tricky-diamonds {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 20rem;
  max-height: 20rem;

  width: 100%;
  min-width: 31rem;
  max-width: 37.5rem;

  &__title {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: 'Spicy Rice', serif;
    background-color: var(--tricky-diamonds-bg);
    color: var(--tricky-diamonds-title);
    box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.25);

    border-radius: 0.5rem;
  }

  &__timer {
    height: 1.25rem;
    width: 100%;
    margin-top: 0.75rem;
  }

  &__container {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__diamond {
    position: relative;
    width: 30%;
    height: 90%;
    background-color: var(--tricky-diamonds-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;

    box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.25);

    &__value {
      width: 100%;
      height: auto;
      text-align: center;
      margin-top: 1.5rem;
      font-size: 1.8rem;
      color: var(--tricky-diamonds-value);
      font-family: "Poppins", sans-serif;
      font-weight: bold;
    }

    .selected {
      svg {
        animation: float 2s infinite ease-in-out;
      }
    }

    @keyframes float {
      0%, 100% {
        transform: translateY(10px);
      }
      50% {
        transform: translateY(-10px);
      }
    }
  }

  svg {
    width: 5rem;
    height: 6rem;
    margin-top: 1.25rem;
  }

  &__players__list {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 0.5rem;
    font-size: 1rem;
    z-index: 10;
    animation: fadeIn 0.8s ease-out forwards;

    .player {
      width: 100%;
      max-width: 80%;

      border-radius: 0.5rem;
      margin-top: 0.25rem;

      font-family: 'Spicy Rice', serif;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      z-index: 1;
    }
  }

  .lost {
    background-color: rgba(143, 17, 47, 0.9);

    &__background {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .player {
      color: rgba(255, 255, 255, 0.9);
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__cross {
    opacity: 1;
    color: #A54159;
  }

  .win {
    background-color: rgba(255, 204, 106, 0.9);

    &__background {
      position: relative;
      height: 50%;
      width: 60%;
      background-color: #FFE4AF;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;

      border-radius: 0.75rem;

      display: flex;
      justify-content: center;
      align-items: center;

      .score {
        font-family: 'Spicy Rice', serif;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
      }

      svg {
        height: 90%;
        width: 90%;

        margin: auto;
      }
    }

    .player {
      color: rgba(0, 0, 0, 0.8);
      background-color: #FFE4AF;
    }
  }
}

