.tricky-diamonds {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 20rem;
  max-height: 20rem;

  width: 100%;
  min-width: 31rem;
  max-width: 37.5rem;

  &__title {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: 'Spicy Rice', serif;
    background-color: var(--tricky-diamonds-bg);
    color: var(--tricky-diamonds-title);
    box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.25);

    border-radius: 0.5rem;
  }

  &__timer {
    height: 1.25rem;
    width: 100%;
    margin-top: 0.75rem;
  }

  &__container {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  svg {
    width: 5rem;
    height: 6rem;
    margin-top: 1.25rem;
  }
}

