@use '../../../common/styles/variables' as *;

.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  max-height: 400px;
  min-height: 380px;

  width: 100%;
  max-width: 550px;
  min-width: 320px;

  background-color: var(--click-the-bomb-bg);
  border-radius: 4px;

  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);

  user-select: none;

  &__countdown {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
  }

  &__status {
    font-family: 'Spicy Rice', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    // TODO: Change it to variable
    color: #9d4edd;

    text-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);

    margin-bottom: 15px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 90px;
    height: 130px;
    margin: 5px;

    border-radius: 5px;

    transition: transform 0.4s ease;
    transform-origin: center;

    // TODO: Temporary code
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;

    border: 3px solid;
    color: white;

    transform: rotateY(0deg);

    &__content {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;

      &__top {
        position: absolute;
        top: 3px;
        left: 3px;
        font-size: 16px;
      }

      &__bottom {
        position: absolute;
        bottom: 3px;
        right: 3px;
        font-size: 16px;
        transform: rotate(180deg);
      }
    }

    &.back {
      background-color: #f1eaf7;
      border-color: #9d4edd;
      background-image: url('./../../../assets/textures/card-back.svg');
    }

    &.back:hover {
      cursor: pointer;
      box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
      transform: scale(1.05);
    }

    &.positive {
      background-color: #b87de8;
      border-color: #5a189a;
      background-image: url('./../../../assets/textures/card-front.svg');
    }

    &.negative {
      background-color: #9d1133;
      border-color: #000000;
      background-image: url('./../../../assets/textures/card-front.svg');
    }

    .svg {
      width: 60px;
      height: 60px;
    }
  }

  .flipping {
    transform: rotateY(90deg);
    pointer-events: none;
  }

  .selected {
    animation: blink 1s linear infinite;
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.02);
    }
  }

  .players__list {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 2px;
    font-size: 12px;
    z-index: 10;
    animation: fadeIn 0.8s ease-out forwards;

    div {
      white-space: nowrap;
      overflow: hidden; // hide extra text
      text-overflow: ellipsis; // add "..."
      max-width: 80px;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0);
    }
    100% {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
