@use '@common/styles/variables' as *;

.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 8px;
  box-sizing: border-box;

  height: 100%;
  min-height: 18rem;

  width: 100%;
  max-width: 36rem;
  min-width: 30rem;

  background-color: var(--cards-bg);
  border-radius: 0.25rem;

  box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.2);

  user-select: none;

  &__countdown {
    width: 4rem;
    height: 4rem;
    margin: 0.75rem 0 0 0.75rem;

    position: absolute;
    top: 0;
    left: 0;

    font-size: 3rem;
  }

  &__status {
    font-family: 'Spicy Rice', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: var(--cards-title);

    text-shadow: 0 0.25rem 0 rgba(0, 0, 0, 0.2);

    margin-bottom: 1rem;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--lock {
      pointer-events: none;
    }
  }
}
