@use '../../../common/styles/variables' as *;

.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  min-height: 24rem;

  width: 100%;
  max-width: 36rem;
  min-width: 20rem;

  background-color: var(--cards-bg);
  border-radius: 0.25rem;

  box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.2);

  user-select: none;

  &__round {
    position: absolute;
    width: 17rem;
    height: 6rem;
    background-color: var(--cards-round-bg);
    box-shadow: 0 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);

    color: var(--cards-title);
    top: 8rem;
    font-family: 'Spicy Rice', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.75rem;
    border-radius: 0.25rem;
    display: none;
    z-index: -100;

    &.visible {
      z-index: 100;
      display: flex;
      justify-content: center;
      align-items: center;
      animation:
        fadeIn 0.5s ease-out forwards,
        fadeOut 0.5s ease-out 1.5s forwards;
    }
  }

  &__countdown {
    width: 4rem;
    height: 4rem;
    margin: 0.75rem 0 0 0.75rem;

    position: absolute;
    top: 0;
    left: 0;

    font-size: 3rem;
  }

  &__status {
    font-family: 'Spicy Rice', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: var(--cards-title);

    text-shadow: 0 0.25rem 0 rgba(0, 0, 0, 0.2);

    margin-bottom: 1rem;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}
