@use '../../../common/styles/variables' as *;

.screen-overlay {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  user-select: none;

  z-index: 1000;

  background-color: #8F112F;
  background-image: url("@assets/textures/background-error.svg");
  background-repeat: repeat;
  animation: backgroundAnimation 40s linear infinite;

  .icon {
    width: 20%;
    max-width: 7rem;
    height: 20%;
    max-height: 7rem;
    margin-bottom: 3rem;

    opacity: 0.7;
  }

  &__description {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    width: 80%;
    color: rgba(255, 255, 255, 0.7);
  }
}

