.animation-overlay {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  white-space: nowrap;
  padding: 1rem;

  color: var(--header-color);
  background-color: var(--background);
  box-shadow: 0 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);

  font-family: 'Spicy Rice', serif;
  font-size: 3.75rem;
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation:
          fadeIn 0.5s ease-out forwards,
          fadeOut 0.5s ease-out 1.5s forwards;

  &--turn {
    font-size: 2rem;
  }

  z-index: 1000;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
