.animation-wrapper {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);

  animation: fadeIn 0.5s ease-out forwards,
  fadeOut 0.5s ease-out 1.5s forwards;
}

.animation-overlay {
  position: relative;

  white-space: nowrap;
  padding: 1rem 2rem;

  color: var(--header-color);
  background-color: var(--background);
  box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.2);

  font-family: 'Spicy Rice', serif;
  font-size: 3.75rem;
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__nickname {
    max-width: 28ch;
    text-align: center;
  }

  &__progress {
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--header-color);
    border-radius: 0 0 4px 4px;
    transition: 0.5s linear;
  }

  &.turn {
    font-size: 2rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
