@use 'sass:color';
@use '@common/styles/_variables.scss' as *;
@use '@common/styles/themes' as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--button-text);
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: capitalize;

  border: none;
  cursor: pointer;
  user-select: none;

  transform: translate(0, -2px);

  &:active {
    transform: translateY(1px);
  }

  &--square {
    border-radius: 0.25rem;
  }

  &--round {
    border-radius: 2rem;
  }

  &--icon{
    padding: 0 !important;
    border-radius: 6px;
    width: 2.5rem;
    height: 2.5rem;
    .icon{
      height: 1.5rem;
    }
  }

  //==== Sizes ====//

  &--small {
    font-size: 1rem;
    padding: 0.1rem 1rem;
  }

  &--medium {
    font-size: 1.5rem;
    padding: 0.1rem 1rem;
  }

  &--large {
    font-size: 2rem;
    padding: 0.25rem 1rem;
  }

  //==== Colors ====//

  &--primary {
    background-color: var(--button-primary-bg);
    box-shadow: 0 0.25rem 0 0 var(--button-primary-shadow);

    &:active {
      box-shadow: 0 0.1rem 0 0 var(--button-primary-shadow);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
      transform: translateY(1px);
      box-shadow: 0 0.1rem 0 0 var(--button-primary-shadow);
    }
  }

  &--remove {
    background-color: var(--button-remove-bg);
    box-shadow: 0 0.25rem 0 0 var(--button-remove-shadow);

    &:active {
      box-shadow: 0 2px 0 0 var(--button-remove-shadow);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
      transform: translateY(1px);
      box-shadow: 0 0.1rem 0 0 var(--button-remove-shadow);
    }
  }
}
