.avatar-picker__overlay {
  position: absolute;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-picker {
  width: 60rem;
  height: 40rem;

  background-color: #303030;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 1rem;

  &__avatars {
    width: 90%;
    height: 80%;

    margin-top: 3%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    overflow-y: auto;
    padding: 0 0 2rem 0;

    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.4);
    }
  }

  &__buttons {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}

.avatar {
  height: 10rem;
  width: 12rem;

  border-radius: 0.7rem;
  overflow: hidden;

  cursor: pointer;

  &__svg {
    height: 7.5rem;
    background-color: #1e1e1e;
  }

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    background-color: #171717;
    color: rgba(#fff, 0.8);

    font-size: 1.5rem;
  }
}
