.avatar-picker__overlay {
  position: absolute;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-picker {
  width: 60rem;
  height: 40rem;

  background-color: #303030;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 1rem;

  &__avatars {
    width: 90%;
    height: 80%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 1rem;
    padding-bottom: 2rem;
    margin-top: 3%;

    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.4);
    }
  }

  &__buttons {
    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}

.avatar {
  height: 10rem;
  width: 12rem;

  border-radius: 0.7rem;
  overflow: hidden;

  cursor: pointer;

  &__svg {
    height: 8rem;
    background-image: url('@assets/textures/background-loading-black.svg');
    background-size: 60%;
  }

  &__name {
    height: 2rem;
    width: 100%;

    background-color: #171717;
    color: rgba(#fff, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: capitalize;
    font-size: 1.4rem;
  }
}
