.avatar-picker {
  width: 60rem;
  height: 40rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__avatars {
    width: 90%;
    height: 80%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 1rem;
    padding-bottom: 2rem;
    margin-top: 3%;

    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.4);
    }
  }

  &__buttons {
    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}

.avatar {
  height: 10rem;
  width: 12rem;

  position: relative;

  border-radius: 0.7rem;
  overflow: hidden;

  cursor: pointer;

  &__random {
    height: 6rem;
    position: absolute;
    top: 1rem;
    left: 3rem;
  }

  &__svg {
    height: 8rem;
    background-image: var(--avatar-picker-avatar-bg);
    background-size: 60%;
  }

  &__locked {
    position: absolute;
    inset: 0;

    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: not-allowed;

    color: var(--avatar-picker-lock-color);

    svg {
      margin-top: -1.5rem;
    }
  }

  &__selected {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 90%;
      height: 90%;
      margin-top: -1.3rem;
    }
  }

  &__name {
    height: 2rem;
    width: 100%;

    background-color: var(--avatar-picker-avatar-text-bg);
    color: var(--avatar-picker-avatar-text);

    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: capitalize;
    font-size: 1.4rem;
    font-family: 'Spicy Rice', sans-serif;
  }
}
