.player-nicknames-list {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.25rem;
  padding: 0.25rem;
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  pointer-events: none;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.125rem;
  z-index: 10;
  animation: fadeIn 0.8s ease-out forwards;

  &__item {
    font-size: 0.75rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    max-width: 100%;
    padding: 0 1rem;
    border-radius: 0.25rem;
    box-sizing: border-box;

    &--cards--positive {
      color: rgba(255, 255, 255, 0.8);
      background-color: var(--cards-player-positive-bg);
    }
    &--cards--negative {
      color: rgba(255, 255, 255, 0.8);
      background-color: var(--cards-player-negative-bg);
    }
  }
}