.empty-slot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: fit-content;
  width: fit-content;
  padding: 1.75rem 0.5rem 0.25rem 0.5rem;
  border-radius: 0.5rem;

  background-color: var(--player-avatar-bg);
  box-shadow: var(--cartoon-shadow);

  opacity: 0.35;

  h2 {
    padding: 0;
    margin: 0;
    color: var(--player-avatar-nickname);
    font-size: 1rem;
    user-select: none;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1E1E1E;
    width: 175px;
    height: 125px;
    color: rgba(255, 255, 255, 0.2);

    @media (min-width: 1921px) and (max-width: 2559px) {
      width: clamp(175px, 10vw, 316px);
      height: clamp(125px, 7vw, 190px);
    }

    @media (min-width: 2560px) {
      width: 275px;
      height: 190px;
    }

  }
}
