.progress__bar {
  width: 100%;
  height: 100%;
  background-color: var(--progress-bg);
  border-radius: 7px;
}

.progress__bar__fill {
  height: 100%;
  border-radius: 7px;

  background-image: var(--progress-bg-fill);
  background-repeat: repeat;
  background-size: 100px 100px;
  background-position: 0 0;

  animation: backgroundMove 10s linear infinite;
  transition: width 0.1s;
}

@keyframes backgroundMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 100px;
  }
}