@use '@common/styles/mixins' as *;

.progress__bar {
  width: 100%;
  height: 100%;
  background-color: var(--progress-bg);
  border-radius: 0.5rem;
}

.progress__bar__fill {
  height: 100%;
  border-radius: 0.5rem;

  @include background-opacity(var(--progress-bg-fill), 100px 100px, 0.1, '@assets/textures/background-loading.svg');

  &::after {
    background-repeat: repeat;
    background-position: 0 0;

    animation: backgroundMove 7s linear infinite;
  }

  transition: width 0.1s;
}

@keyframes backgroundMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 100px;
  }
}
