@use '@common/styles/_variables' as *;

.end-game {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10rem;

  &__header {
    width: 40rem;
    height: 4.5rem;

    position: relative;

    background-color: var(--background);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;
    margin-top: 4rem;

    &__title {
      color: var(--header-color);
      font-size: 2rem;
      font-weight: bold;
    }

    &__party-games {
      position: absolute;
      top: -3rem;

      color: var(--party-games-fill);
      -webkit-text-stroke: 0.1rem $darkerSecondaryColor;

      font-size: 3.5rem;
      font-weight: bold;
      font-family: 'Spicy Rice', serif;
    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1rem;
  }
}

.podium__container {
  width: min-content;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: end;
  gap: 1rem;
  border-bottom: 1rem solid var(--background);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.2);
}
