@use '@common/styles/_variables' as *;

.end-game {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10rem;

  &__header {
    width: 40rem;
    height: 4.5rem;

    position: relative;

    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;
    margin-top: 4rem;

    &__title {
      color: #9d4edd;
      font-size: 2rem;
      font-weight: bold;
    }

    &__party-games {
      position: absolute;
      top: -3rem;

      color: #7d7b80;

      font-size: 3.5rem;
      font-weight: bold;
      font-family: 'Spicy Rice', serif;
    }
  }
}

.podium__container {
    width: min-content;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: end;
    gap: 1rem;
    border-bottom: 1rem white solid;
}
