@use '../../../common/styles/variables' as *;

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  user-select: none;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    color: var(--text-color);
    padding: 16px;
    border-radius: 8px;
    gap: 16px;
    box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.2);
  }

  &__title {
    position: absolute;
    top: -35%;
    font-family: 'Spicy Rice', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: var(--party-games-fill);

    text-shadow: 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    -webkit-text-stroke: 0.20rem $darkerSecondaryColor;
  }

  &__subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
  }

  &__description {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
  }
}
