@use "./common/styles/variables" as *;

html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;

  @media (min-width: 1921px) and (max-width: 2559px) {
    font-size: clamp(16px, 0.5vw + 0.5rem, 22px)
  }

  @media (min-width: 2560px) {
    font-size: 22px;
  }
}

html[data-theme="dark"]{
  body{
    background-image: url('@assets/textures/background-dark.svg');
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: #f1eaf7;
  background-image: url('@assets/textures/background.svg');
  background-repeat: repeat;
  animation: backgroundAnimation 40s linear infinite;
}

.user-settings-button{
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;

  & path{
    fill: rgba($primaryColor, 0.75);
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 500px 500px;
  }
}
