@use "./common/styles/variables" as *;

html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

html[data-theme="dark"]{
  body{
    background-image: url('./assets/textures/background-dark.svg');
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: #f1eaf7;
  background-image: url('./assets/textures/background.svg');
  background-repeat: repeat;
  animation: backgroundAnimation 40s linear infinite;
}

.user-settings-button{
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;

  & path{
    fill: rgba($primaryColor, 0.75);
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 500px 500px;
  }
}
