@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spicy+Rice&family=Wallpoet&display=swap');

body {
  background-color: #f5f5f5;
}

html {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;

  @media (min-width: 1921px) and (max-width: 2559px) {
    font-size: clamp(16px, 0.5vw + 0.5rem, 22px)
  }

  @media (min-width: 2560px) {
    font-size: 22px;
  }

  @media (min-width: 2561px) and (max-width: 3839px) {
    font-size: clamp(22px, 0.5vw + 0.5rem, 28px)
  }

  @media (min-width: 3840px) {
    font-size: 28px;
  }
}

html[data-theme="dark"]{
  body{
    background-color: #282828;
  }
}
