@use '@common/styles/themes' as *;

.indicator {
  display: flex;
  justify-content: center;
  width: fit-content;

  padding: 0.25rem 1rem;
  border-radius: 0.25rem;

  min-width: 20rem;

  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  user-select: none;

  background-color: var(--info-notice-bg);
  color: var(--info-notice-color);
  box-shadow: 0 0.5rem 0.1rem 0 rgba(0, 0, 0, 0.25);
}
