.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 6.5rem;
  height: 9rem;
  margin: 0.25rem;

  border-radius: 0.25rem;
  border: 0.20rem solid;
  box-sizing: border-box;

  transform: rotateY(0deg);
  transition: transform 0.4s ease;
  transform-origin: center;

  font-family: 'Spicy Rice', serif;
  font-weight: 400;
  font-style: normal;
  color: var(--cards-text);

  .svg {
    width: 4rem;
    height: 4rem;
  }

  &__score {
    font-size: 2rem;
    text-shadow: 0 0.25rem 0 rgba(0, 0, 0, 0.2);

    &--top {
      position: absolute;
      top: 3px;
      left: 3px;
      font-size: 1rem;
    }

    &--mid {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--bottom {
      position: absolute;
      bottom: 0.25rem;
      right: 0.25rem;
      font-size: 1rem;
      transform: rotate(180deg);
    }
  }

  &--back {
    background-color: var(--cards-back-bg);
    border-color: var(--cards-back-border);
    background-image: var(--cards-back-img);
    color: var(--cards-logo-bg);
  }

  &--back:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &--positive {
    background-color: var(--cards-positive-bg);
    border-color: var(--cards-positive-border);
    background-image: url('@assets/textures/card-front.svg');
  }

  &--negative {
    background-color: var(--cards-negative-bg);
    border-color: var(--cards-negative-border);
    background-image: url('@assets/textures/card-front.svg');
  }

  &--flip {
    transform: rotateY(90deg);
    pointer-events: none;
  }

  &--selected {
    animation: blink 1s linear infinite;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.02);
  }
}