@use 'sass:color';
@use './variables' as *;

html[data-theme='light'] {
  //== Global ==//
  --background: #{$lightBgColor};
  --logo-background: #f1eaf7;
  --text-color: #000;
  --header-color: #{$darkerPrimaryColor};
  --party-games-fill: #fff;
  --cartoon-shadow: 0 4px rgba(0, 0, 0, 0.3);

  //== Player Avatar ==//
  --player-avatar-username: #{$darkerPrimaryColor};
  --player-avatar-score: #{$darkerPrimaryColor};
  --player-avatar-bg: #{$lightBgColor};
  --player-avatar-turn-indicator: #994CE4;
  --player-avatar-status: #c81414;
  --player-avatar-status-ready: #99DD44;

  //== Button ==//
  --button-primary-bg: #{$primaryColor};
  --button-primary-shadow: #{color.adjust($primaryColor, $lightness: -30%)};
  --button-text: #fff;
  --button-remove-bg: #c81414;
  --button-remove-shadow: #{color.adjust(#c81414, $lightness: -30%)};

  //== Switch ==//
  --switch-bg: #{$primaryColor};
  --switch-track: #ccc;
  --switch-track-checked: #{$darkerPrimaryColor};
  --switch-thumb: #{$primaryColor};

  //== Number Picker ==//
  --number-picker-bg: #{$primaryColor};
  --number-picker-bg-active: #{$darkerPrimaryColor};
  --number-picker-shadow: #5a189a;
  --number-picker-text: #{rgba(255, 255, 255, 0.8)};

  //== Progress Bar ==//
  --progress-bg: #D5B5FF;
  --progress-bg-fill: url('@assets/textures/background-loading.svg');

  //== Badge ==//
  --badge-red-bg: #c81414;
  --badge-green-bg: #99DD44;
  --badge-text: #fff;
  --badge-black-text: #{rgba(#000000, 0.4)};

  //== Alert Box ==//
  --alert-box-bg: #{$lightBgColor};
  --alert-box-text: #000;

  //== Info indicator ==//
  --info-notice-bg: #{$darkerPrimaryColor};
  --info-notice-color: #fff;

  //== Lobby ==//
  --lobby-player-text: #{$secondaryColor};

  //== Leaderboard ==//
  --leaderboard-bg: #{$lightBgColor};
  --leaderboard-title: #{$darkerPrimaryColor};
  --leaderboard-player-bg: #f1eaf7;
  --leaderboard-first-place: #ffd000;
  --leaderboard-second-place: #cecad2;
  --leaderboard-third-place: #d09351;
  --leaderboard-player-opacity: 0.4;

  //== Minigame List ==//
  --minigame-list-bg: #{$lightBgColor};
  --minigame-list-title: rgba(#000000, 0.8);
  --minigame-list-hr: #{rgba(0, 0, 0, 0.1)};
  --minigame-list-scrollbar: #{$darkerPrimaryColor};

  //== Minigame List Item ==//
  --minigame-list-item-bg: #{rgba($primaryColor, 0.06)};
  --minigame-list-item-border: color.adjust($primaryColor, $lightness: -10%);
  --minigame-list-item-icon: #{$darkerPrimaryColor};
  --minigame-list-item-text: #{rgba(#000, 0.4)};

  //== Tutorial ==//
  --tutorial-bg: #{$lightBgColor};
  --tutorial-text: #000;
  --tutorial-text-highlight: #B87DE8;
  --tutorial-text-warning: #DE0505;
  --tutorial-text-reward: #CCA600;
  --tutorial-indicator: #{$secondaryColor};

  //== Click The Bomb ==//
  --click-the-bomb-bg: #{$lightBgColor};
  --click-the-bomb-turn: #000;
  --click-the-bomb-title: #{$secondaryColor};
  --click-the-bomb-prize-text: #000;
  --click-the-bomb-prize-value: #{$darkerPrimaryColor};
  --click-the-bomb-score-positive: #99DD44;
  --click-the-bomb-score-negative: #c81414;

  //== Cards ==//
  --cards-bg: #{$lightBgColor};
  --cards-title: #{$secondaryColor};
  --cards-round-bg: #{$lightBgColor};
  --cards-text: #fff;
  --cards-back-img: url('@assets/textures/card-back.svg');
  --cards-back-bg: #f1eaf7;
  --cards-back-border: #{$darkerPrimaryColor};
  --cards-positive-bg: #{$primaryColor};
  --cards-positive-border: #{$secondaryColor};
  --cards-negative-bg: #9d1133;
  --cards-negative-border: #000;
  --cards-logo-bg: #FFF;
  --cards-player-negative-bg: #{rgba(#781930, 0.9)};
  --cards-player-positive-bg: #{rgba(#8350AD, 0.9)};

  //== Tricky Diamonds ==//
  --tricky-diamonds-bg: #{$lightBgColor};
  --tricky-diamonds-title: #{$secondaryColor};
  --tricky-diamonds-value: #000;
}
