@use 'sass:color';
@use '../../../common/styles/_variables.scss' as *;

.minigame-item {
  position: relative;
  display: flex;
  align-items: center;

  width: 100%;

  $color: rgba($primaryColor, 0.06);

  user-select: none;
  pointer-events: auto;
  color: rgba(#000, $alpha: 0.4);
  font-weight: 700;

  &__content {
    background-color: $color;

    width: calc(100% - 50px);

    border: 2px solid color.adjust($color, $lightness: -10%);
    border-radius: 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    box-sizing: border-box;
  }

  &__icon {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;

    background-color: $darkerPrimaryColor;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

    cursor: grab;
    &:active {
      cursor: grabbing;
    }

    .icon{
      width: 25px;
      height: 25px;
    }
  }
}
