@use 'sass:color';
@use '@common/styles/themes' as *;

.minigames-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 86% 14%;
  gap: 1rem;

  height: 30rem;

  &__table {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 0.25rem;
    background-color: var(--minigame-list-bg);
    box-shadow: var(--cartoon-shadow);

    width: 22rem;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
  }

  &__title {
    color: var(--minigame-list-title);
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;

    border-bottom: 1px solid var(--minigame-list-hr);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;

    width: 100%;
  }

  &__list{
    scrollbar-color: var(--minigame-list-scrollbar) transparent;
  }

  &__footer {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;

    width: 100%;
    height: 100%;

    padding: 1rem;
    box-sizing: border-box;

    background-color: var(--minigame-list-bg);
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: space-evenly;
  }
}
