@use 'sass:color';
@use '@common/styles/_variables.scss' as *;

.minigame-item {
  position: relative;
  display: flex;
  align-items: center;

  width: 100%;

  user-select: none;
  pointer-events: auto;
  color: var(--minigame-list-item-text);
  font-weight: 700;
  margin-bottom: 0.5rem;

  &__content {
    background-color: var(--minigame-list-item-bg);

    width: calc(100% - 3rem);
    border-radius: 0.25rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem;
    box-sizing: border-box;
  }

  &__icon {
    width: 3rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.25rem;

    background-color: var(--minigame-list-item-icon);
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);

    .icon {
      width: 1.75rem;
      height: 1.75rem;
    }
  }

  &--draggable{
    .minigame-item__icon{
      cursor: grab;
      &:active {
        cursor: grabbing;
      }
    }
  }
}
