@use 'sass:color';
@use '../../../common/styles/themes' as *;

.lobby {
  gap: 15px;
  box-sizing: border-box;
  height: auto;
  width: 60%;
  min-width: 350px;

  background-color: var(--background);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);

  border-radius: 8px;
  font-size: 2rem;

  user-select: none;

  &__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--header-color);
  }

  &__code {
    margin-left: 7px;

    cursor: pointer;

    &:hover {

    }

    &:active {
      color: var(--header-color);
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
  }

  &__players {
    font-family: 'Spicy Rice', cursive;
    font-size: 3em;
    color: var(--header-color);
  }

  &__text {
    display: inline-block;
    width: 3em;
    font-size: 0.7em;
    font-family: 'Spicy Rice', cursive;
    color: var(--lobby-player-text);
  }

  &__countdown {
    font-family: 'Spicy Rice', cursive;
    font-size: 4em;
    color: var(--header-color);
  }

  &__countdown-text {
    font-family: 'Spicy Rice', cursive;
    font-size: 1.5em;
    text-align: center;
    color: var(--header-color);
  }

  &__settingsbutton {
    position: absolute;
    top: 4px;
    right: 4px;
  }

  &__content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    box-sizing: border-box;
  }
}
